/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;;

}

nav li {
  margin: 0 15px;
}

nav a {
  color: red;
  text-decoration: none;
  padding: 14px 20px;
  display: block;

}
.center{
  text-align: center; /* Center-align text */
}

body {
  background-color: #eae2b7; /* Set background color */
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  margin: 0 auto;
  text-align: left; /* Center-align text globally */
  max-width: 900px; /* Optional: Set a maximum width for better readability */
border-radius: 50%
}

/* Header and Footer Styling */
header,
footer {
  text-align: center; /* Horizontally center content */
  padding: 20px;
}

/* Heading Styles */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align:center;
}

/* Article Styling */
article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraph Styling */
p {
  line-height: 1.5;
}

/* Container Styling */
div {
  margin: auto;
  width: 600px;
}

/* Image Styling */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display:block;
  margin-left: auto;
  margin-right:auto;
}

/* Horizontal Rule Styling */
hr {
  border: 1px solid black;
}

/* Contact Heading Styling */
h2 {
  text-align: center; /* Horizontally center the Contact heading */
}

/* Anchor Tag Styling */
a {
  color: #d62828; /* Set link color */
  text-decoration: none; /* Remove underline */
}

a:hover {
  color: #f77f00; /* Set link hover color */
}

/* Image Circle Styling */
.image-circle {
  border-radius:50%;
  border:2px solid black;}

.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
